/* CSS Grid */
* {
	/* Set the box sizing */
	box-sizing: border-box;
}

/* Styles for body and html */
body, html {
	width: 100%;
	height: 100%;
}

/* Style class for a grid */
.grid-parent {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(1, 1fr);
}

/* Content #1 */
.article {
  	object-fit: cover;
}

/* */
.photo > img {
	display: block;
 	width: 100%;
 	max-height: 100%;
 	opacity: 0.8;
 	z-index: -1;
}

.heading h1 {
	font-size: 400%;
	text-transform: uppercase;
	text-align: right;
	color: white;

	position: relative;
  	top: -30%;
  	left: -1%;
  	z-index: 1;
}

.description p {
	font-size: large;
	text-transform: uppercase;
	text-align: right;
	color: white;

	position: relative;
  	top: -30%;
  	left: -1%;
  	z-index: 1;
}

.overlay {
	position: relative;
	background: linear-gradient(to top, rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 100%);
  	z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}

/* 1st Media Query */
@media screen and (max-width: 1600px) {
	/* only want to include things that are different */
	.grid-parent {
		grid-template-columns: repeat(2, 2fr);
	}

	.heading h1 {
		font-size: xx-large;
	}

	.description p {
		font-size: small;
		top: -35%;
  		left: -1%;
	}
}

/* 2nd Media Query */
@media screen and (max-width: 1200px) {
	/* only want to include things that are different */
	.grid-parent {
		grid-template-columns: repeat(2, 8fr);
	}

	.photo > img {
		width: 100%;
		opacity: .8;
	}

	.heading h1 {
		font-size: x-large;
		text-transform: uppercase;
		text-align: center;
		color: white;

		position: relative;
  		top: -50%;
  		left: 0%;
	}

	.description p {
		display: none;
	}
}